<md-dialog-header>
  <h1 md-dialog-title class="primary-color">Cadastro de Cardápios</h1>
</md-dialog-header>
<!-- <h1 md-dialog-title class="primary-color">Cadastro Produto</h1> -->
<md-dialog-content>

  <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <md-grid-list cols="1">
      <md-grid-tile colspan="12" rowspan="1">
        <md-form-field>
          <input mdInput placeholder="Descrição" id="descricao" [(ngModel)]="element.descricao" name="descricao">
        </md-form-field>
      </md-grid-tile>
    </md-grid-list>
  </form>
</md-dialog-content>
<md-dialog-actions style="float: right;">
  <button md-button tabindex="2" md-dialog-close (click)="post()">Salvar</button>
  <button md-button tabindex="1" md-dialog-close>Cancelar</button>
</md-dialog-actions>
