<div class="container">
    <form action="index.html" style="width: 300px;margin: auto;margin-top: 20%;" method="post">
        <img class="img-responsive" src="./assets/img/logo1.png" alt="Escarabajo">
        <div class="form-group">
            <button (click)="loginFb()" id="btn-login" type="button" class="btn btn-block btn-social btn-facebook">
                    <span class="error" *ngIf="error">{{ error }}</span>    
                        <span class="fa fa-facebook"></span> Entrar
                </button>
        </div>
    </form>
</div>