
    <nav class="navbar navbar-inverse" *ngIf="router.url != '/login'">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#">Escarabajo Hamburgueria Bistrô</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a (click)="logout()" href="">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="menu">
            <ul>
                <!-- <li class="visible-xs"	><a href="#">Sair</a></li> -->
                <li class="active"><a routerLink="/pedido">Pedidos</a></li>
                <li><a routerLink="/produto">Produtos</a></li>
                <li><a routerLink="/cliente">Clientes</a></li>
                <li><a routerLink="/relatorio">Relatório de Vendas</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>

        <!-- <div class="col-sm-4 text-center">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">Visitas</h3>
							</div>
							<div class="panel-body">
								<h3>120.310</h3>
							</div>
						</div>
					</div> -->
        <!-- <div class="col-sm-4 text-center">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 class="panel-title">Visitas Únicas</h3>
							</div>
							<div class="panel-body">
								<h3>13.050</h3>
							</div>
						</div>
					</div> -->
        <!-- <div class="col-sm-4 text-center">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">Bounce</h3>
							</div>
							<div class="panel-body">
								<h3>22%</h3>
							</div>
						</div>
					</div> -->


        <!-- <div>  -->
        <!-- <div> -->
        <!-- <div class="panel-heading"> -->
        <!-- <h3 class="panel-title">Categorias</h3>  -->
        <!-- </div> -->
        <!-- <div class="panel-body"> -->
        <!-- <table class="table table-hover">
									<thead>
										<tr>
											<th>Nome</th>
											<th class="hidden-xs">Ações</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<a href="#">Front-end</a>
											</td>
											<td class="hidden-xs">
												<a class="btn btn-xs btn-warning" href="#">Editar</a>
											</td>
										</tr>
										<tr>
											<td>
												<a href="#">Back-end</a>
											</td>
											<td class="hidden-xs">
												<a class="btn btn-xs btn-warning" href="#">Editar</a>
											</td>
										</tr>
										<tr>
											<td>
												<a href="#">Database</a>
											</td>
											<td class="hidden-xs">
												<a class="btn btn-xs btn-warning" href="#">Editar</a>
											</td>
										</tr>
										<tr>
											<td>
												<a href="#">Mobile</a>
											</td>
											<td class="hidden-xs">
												<a class="btn btn-xs btn-warning" href="#">Editar</a>
											</td>
										</tr>
									</tbody>
								</table> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>

<!-- <div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="btn-primary">Sair</button>
  </header>
  <div id="page" [@moveInLeft]="state">
    <h2>Olá {{ name.auth.displayname }}!</h2>
  </div>
</div> -->