<md-dialog-header>
  <h1 md-dialog-title class="primary-color">Cadastro Produto</h1>
</md-dialog-header>
<!-- <h1 md-dialog-title class="primary-color">Cadastro Produto</h1> -->
<md-dialog-content>

  <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <md-grid-list cols="12">
      <md-grid-tile colspan="4" rowspan="1">
        <md-form-field>
          <input mdInput placeholder="Nome" id="nome" [(ngModel)]="element.nome" name="nome">
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="4" rowspan="1">
        <md-form-field>
          <input mdInput placeholder="E-mail" id="email" [(ngModel)]="element.email" name="email">
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="4" rowspan="1">
        <md-form-field>
          <input mdInput placeholder="Telefone" id="telefone" [(ngModel)]="element.telefone" name="telefone">
        </md-form-field>
      </md-grid-tile>
    </md-grid-list>
    <mg-grid-list cols="12">
      <app-one-to-many
        [title]="'Endereços'"
        [description]="'Clique aqui e adicione mais endereços'"
        [inputs]="inputs"
        [(values)]="element.enderecos">
      </app-one-to-many>
    </mg-grid-list>
  </form>
</md-dialog-content>
<md-dialog-actions style="float: right;">
  <button md-button tabindex="2" md-dialog-close (click)="post()">Salvar</button>
  <button md-button tabindex="1" md-dialog-close>Cancelar</button>
</md-dialog-actions>
