@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/
@import '~material-design-icons/iconfont/material-icons.css';

.main {
  display: flex;
  background-color: #ecf0f5;
  /*min-height: calc(100vh);*/
  overflow: hidden;
}

app-login {
  width: calc(89vw);
  padding-bottom: 83px;
  /* background-image: url(assets/img/blue-material-design-ultra-hd-wallpapers.png) !important; */
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  position: absolute;
  margin: -30px;
}

.logo-login {
  margin-bottom: 15px;
  display: block;
  max-width: 100%;
  /*height: auto;*/
}

#btn-login {
  background: #3b5998;
  color: white;
  font-size: 15px;
  padding: 0px 50px;
  width: 100%;
}

app-pedido, app-produto, app-cliente, app-relatorio, app-cardapio, app-categoria {
  width: 100%;
}


html, body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

.app-container {
  width: 100%;
  /*height: 100%;*/
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.app-sidenav-content {
  display: flex;
  /* width: calc(100%); */
  margin: 30px;
  /*width: 100%;*/
  /*!*margin-right: 40px;*!*/
  /*align-items: center;*/
  justify-content: center;
}

.app-sidenav {
  padding: 20px;
}

.app-sidenav-icon {
  padding: 0 14px;
  cursor: pointer;
}

.app-sidenav-spacer {
  flex: 1 1 auto;
}

.app-sidenav-menu {
  cursor: pointer;
}

md-sidenav {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

md-sidenav li, md-sidenav li > a, md-sidenav ul {
  list-style-type: none;
  margin: 0px;
}

md-sidenav, md-sidenav ul {
  padding: 0px !important;
  margin: 0px;
}

md-sidenav button > span > md-icon {
  margin-right: 15px !important;
}

md-sidenav button {
  width: 300px;
  /*font-weight: 600 !important;*/
  color: #7C7C7C !important;
  padding: 10px !important;
  text-align: left !important;
}

.app-sidenav-menu-bg {
  width: 300px;
  height: 200px;
}

.app-sidenav-menu-img-user {
  width: 80px;
  position: absolute;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 100px;
}

.app-sidenav-menu-user-name {
  position: absolute;
  top: 0px;
  left: 100px;
  color: white;
  padding: 10px;
  width: 100%;
}

.app-sidenav-menu-user-email {
  position: absolute;
  top: 140px;
  left: 5px;
  color: white;
  padding: 10px;
  width: 100%;
}

.app-sidenav-menu-user-email > md-icon {
  float: right;
  margin-right: 20px;
  margin-top: -3px;
}

.element-full-width {
  width: 100%;
}

.md-grid-list-flex {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
}

.md-grid-title-button {
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 10px;
  display: flex;
}

md-dialog-content {
  min-height: 80%;
}

.btn-fab-add {
  position: fixed !important;;
  bottom: 100px !important;;
  right: 30px !important;
}

.mat-drawer-container {
  border: none;
  background: transparent;
  height: calc(100vh);
}

.one-to-many-pedido-produto > md-form-field {
  width: 90%;
}

@media screen and (max-width: 500px) {
  .app-sidenav-content {
    width: 100vw;
  }
}
