<div class="container-fluid custom-modal-container">
  <div class="row custom-modal-header">
    <div class="col-sm-12">
      <h1>Cadastrar Produto</h1>
    </div>
  </div>
  <md-card>
    <md-input-container>
      <input mdInput placeholder="Nome" value="">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Valor Unitário" value="">
    </md-input-container>
    <br>
    <form>
      <md-select placeholder="Categoria">
        <md-option *ngFor="let categoria of categorias" [value]="categoria.value">
          {{categoria.viewValue}}
        </md-option>
      </md-select>
    </form>
    <md-checkbox>Promoção</md-checkbox>
  </md-card>
  <div class="buttons">
    <button md-mini-fab color="primary">
        <md-icon >check</md-icon>
      </button>
    <button md-mini-fab color="primary">
        <md-icon >cancel</md-icon>
      </button>
  </div>
</div>