<md-dialog-header>
  <h1 md-dialog-title class="primary-color">Cadastro Produto</h1>
</md-dialog-header>
<!-- <h1 md-dialog-title class="primary-color">Cadastro Produto</h1> -->
<md-dialog-content>

  <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <md-grid-list cols="12">
      <md-grid-tile colspan="12" rowspan="2">
        <app-many-to-one [values]="cardapios" [(selected)]="element.cardapio"></app-many-to-one>
      </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="4">
      <md-grid-tile colspan="2" rowspan="1">
        <md-form-field>
          <input tabindex="1" mdInput placeholder="Descrição" id="descricao" [(ngModel)]="element.descricao" name="descricao">
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="2" rowspan="1">
        <md-form-field>
          <input tabindex="0" mdInput placeholder="Valor" id="valor" [(ngModel)]="element.valor" name="valor">
        </md-form-field>
      </md-grid-tile>
    </md-grid-list>
    <md-checkbox style="margin-left: 38px" [(ngModel)]="element.promocao" name="promocao">Promoção</md-checkbox>
    <md-grid-list cols="12">
        <app-one-to-many
          #myTable
          [title]="'Detalhes do produto'"
          [description]="'Clique aqui e adicione mais detalhes'"
          [inputs]="inputs"
          [(values)]="element.detalhes">
        </app-one-to-many>
      </md-grid-list>
    <br>
  </form>
</md-dialog-content>
<md-dialog-actions style="float: right;">
  <button md-button tabindex="2" md-dialog-close (click)="post()">Salvar</button>
  <button md-button tabindex="1" md-dialog-close>Cancelar</button>
</md-dialog-actions>
